selinux:
  mode: enforcing
  type: targeted

  setroubleshoot:
    installed: True
    email_alerts_enabled:
      - mail@example.com
    email_alerts_disabled:
      - nomail@example.com

  booleans_enabled:
    - httpd_can_sendmail

  booleans_disabled:
    - httpd_enable_cgi

  ports:
    http:
      tcp:
        - 8088

  ports_absent:
    http:
      tcp:
        - 78

  fcontext:
    # filespec of the file or directory.  Regex syntax is allowed.
    /var/games(/.*)?:
      # sel_type is required - SELinux context type
      sel_type: games_data_t
      # filetype, sel_user, and sel_level are optional - filetype defaults to 'a'
      # filetype: a
      # sel_user: system_u
      # sel_level: s0
    /var/www/html/example(/.*)?:
      sel_type: httpd_sys_rw_content_t
    /var/www/html/test/example:
      sel_type: httpd_sys_rw_content_t

  fcontext_applied:
    /var/games:
      recursive: True  # optional, defaults to False
    /opt:

  fcontext_absent:
    /var/www/html/example(/.*)?:
      # any config is optional but you can use it to target specific policies
      # filetype: a
      # sel_type: httpd_sys_rw_content_t
      # sel_user: system_u
      # sel_level: s0
    /var/www/html/test/example:

  modules:
    zabbix_agent:
      plain: |
          module zabbix_agent 1.0;

          require {
                  type zabbix_agent_t;
                  class process setrlimit;
          }

          #============= zabbix_agent_t ==============
          allow zabbix_agent_t self:process setrlimit;

    zabbix_server:
      plain: |
          module zabbix_server 1.0;

          require {
                  type zabbix_t;
                  class process setrlimit;
          }

          #============= zabbix_t ==============
          allow zabbix_t self:process setrlimit;
    
    zabbix_server_34:
      plain: |
          module zabbix_server_34 1.1;

          require {
                  type zabbix_var_run_t;
                  type tmp_t;
                  type zabbix_t;
                  class sock_file { create unlink write };
                  class unix_stream_socket connectto;
                  class process setrlimit;
          }

          #============= zabbix_t ==============
          allow zabbix_t self:process setrlimit;
          allow zabbix_t self:unix_stream_socket connectto;
          allow zabbix_t tmp_t:sock_file { create unlink write };
          allow zabbix_t zabbix_var_run_t:sock_file { create unlink write };

  modules_disabled:
    - zabbix_server
  
  modules_removed:
    - zabbix_server_34
